// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
html,
body {
  padding: 0;
  margin: 0;
  background-color: #180134;
}

* {
  box-sizing: border-box;
}
.body-wrapper {
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
nav {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12%;
  position: absolute;
  top: 40px;
  left: 0;
  .menu {
    display: flex;
    li {
      margin-right: 35px;
      a {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
  .social-icon {
    display: flex;
    li {
      margin-left: 10px;
    }
  }
}
.heading {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .heading {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
// Banner Start

.banner {
  background-image: url("../public/banner.png");
  width: 100%;
  height: auto;
  background-position: top;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 400px;
  img {
    display: block;
    margin: 0 auto;
  }
  .logo {
    margin-top: -80px;
    margin-bottom: -80px;
  }
  .banner-box {
    max-width: 1300px;
    margin: 50px auto;
    padding: 85px 70px;
    text-align: center;
    position: relative;
    z-index: 0;
    .banner-blur {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 45px;
      background-color: rgba(24, 1, 52, 0.63);
      backdrop-filter: blur(5px);
      z-index: -1;
    }
    .banner-text {
      z-index: 2;
      h2 {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 600;
        margin-bottom: 35px;
      }
      p {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        line-height: 46.13px;
        margin: 0;
        font-weight: 300;
      }
    }
  }
}

// Feature Start

.feature {
  margin-top: -650px;
  padding-top: 230px;
  padding-bottom: 190px;
  height: auto;
  background-image: url("/feature-bg.png");
  background-position: top;
  background-size: cover;
  .mint-box {
    max-width: 1300px;
    height: 554px;
    margin: 50px auto 100px auto;
    position: relative;
    z-index: 1;
    .mint-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: -1;
    }
  }

  .mint-text {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px 0px 80px;
    align-items: center;
  }
  .mint-left {
    h2 {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 65px;
      color: #180134;
    }
    .mint-desc {
      color: #180134;
      font-family: "Poppins", sans-serif;
      font-size: 25px;
      font-weight: 400;
    }
    .mint-input-box {
      display: flex;
      align-items: center;
      .mint-input {
        display: flex;
        align-items: center;
        input,
        button {
          width: 230px;
          height: 80px;
          border-radius: 90px;
          border: none;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 30px;
          text-transform: uppercase;
        }
        input:focus,
        button:focus {
          outline: none;
        }
        input {
          background-image: linear-gradient(
            rgba(255, 255, 255),
            rgba(122, 126, 169, 0.5)
          );
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          margin-right: 10px;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-size: 30px;
        }
        button {
          background-color: #df1571;
          color: white;
          letter-spacing: 4px;
          font-weight: 500;
          margin-right: 20px;
        }
      }
      p {
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 35px;
        span {
          color: #fe1375;
        }
      }
    }
  }

  .feature-box {
    height: 806.33px;
    max-width: 1436px;
    margin: 0 auto;
    position: relative;
    display: flex;
    z-index: 1;
    padding: 150px 155px 150px 190px;
    margin-bottom: 50px;
    .fb-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .feature-sm-box {
      display: none;
    }
    .feature-left {
      img {
        height: 500px;
      }
    }
    .feature-right {
      padding-left: 80px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        color: #43b4ef;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 35px;
      }
      .sub-text {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: #fed6ff;
      }
      .line {
        width: 90px;
        height: 1px;
        background-color: #1d70da;
        margin-bottom: 20px;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 35.4px;
        color: #eaecef;
      }
      button {
        border-color: #f77a1c #ff2969 #ff2969 #f77a1c;
        width: 290px;
        height: 78px;
        border-width: 1px;
        border-style: solid;
        border-radius: 90px;
        background-color: transparent;
        font-size: 25px;
        color: white;
        font-family: "Roboto", sans-serif;
        margin-top: 50px;
        margin-left: 20px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          height: 126%;
          width: 107%;
          top: -10px;
          left: -10px;
          border: 1px solid rgba(254, 60, 95, 0.3);
          border-radius: 90px;
        }
        &:before {
          content: "";
          position: absolute;
          height: 151%;
          width: 114%;
          top: -20px;
          left: -20px;
          border: 1px solid rgba(254, 60, 95, 0.1);
          border-radius: 90px;
        }
      }
    }
  }
  .nipple-box-wrapper {
    max-width: 1457px;
    margin: 0 auto;
    background-color: rgba(24, 4, 48, 0.63);
    backdrop-filter: blur(20);
    border-radius: 45px;
    padding: 50px;
    .grid-container {
      display: grid;
      grid-gap: 0px;
      grid-template-areas: ". . . . . . ." ". . . . . gifArea gifArea" ". . . . . gifArea gifArea";
      .nipple-box {
        display: inline-grid;
      }
      .last-nipple-box {
        grid-area: gifArea;
      }
    }
  }
}

// Roadmap Start

.roadmap {
  width: 100%;
  height: auto;
  background-image: url("/roadmap-bg.png");
  background-size: cover;
  background-position: top;
  position: relative;
  padding-bottom: 380px;
  .heading {
    margin-bottom: 30px;
  }
}
.roadmap-text {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 35.4px;
  max-width: 1292px;
  margin: 0 auto;
  text-align: center;
}
.roadmap-row {
  max-width: 1465px;
  margin: 150px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 40px;
  position: relative;
  img {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
  }
  .rb-wrapper {
    width: 430px;
  }
  .roadmap-circle {
    display: none;
  }
  .roadmap-box {
    width: 100%;
    background: rgba(24, 1, 52, 0.63);
    backdrop-filter: blur(5px);
    border-radius: 45px;
    padding: 40px;
    h2 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 25px;
      color: #e6e7e8;
      line-height: 41px;
      margin-bottom: 25px;
    }
    li {
      font-family: "Montserrat", sans-serif;
      color: #c9b7df;
      font-size: 16px;
      line-height: 35px;
    }
  }
}
.roadmap-row-last {
  max-width: 1214px;
  justify-content: center;
  align-items: stretch;
  img {
    left: -120px;
  }
  .rb-wrapper {
    margin: 0px 25px;
  }
}

// Team Start

.team {
  background-image: url("/team-bg.png");
  background-position: top;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 80px;
}
.team-row {
  max-width: 1437px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px;
}
.team-btn {
  text-align: center;
  margin-top: 80px;
  button {
    background-color: #12fed9;
    width: 276px;
    height: 87px;
    border-radius: 45px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #2d0067;
    border: none;
  }
}
// Accordion Start
.faq {
  background-color: #2d0067;
  padding-top: 50px;
  position: relative;
  .heading {
    margin-bottom: 40px;
  }
  .line {
    width: 72px;
    height: 1px;
    background-color: #f57c36;
    margin: 0 auto;
  }
}

.accordion {
  max-width: 1437px;
  margin: 0 auto;
  margin-top: 70px;
  padding-bottom: 100px;
}
.ac-box {
  position: relative;
  margin-bottom: 10px;
  z-index: 1;
  .ac-layer {
    content: "";
    position: absolute;
    background-color: #1b1b31;
    top: 70px;
    left: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    transition: 0.5s;
  }
  .ac-layer-open {
    height: 50px;
  }
}
.ac-head {
  background-color: #07071b;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
  cursor: pointer;
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    margin: 0;
  }
  img {
    transition: 1s;
  }
  .img-rotate {
    transform: rotate(90deg);
  }
}
.ac-body {
  background-color: #1b1b31;
  border-radius: 0px 0px 25px 25px;
  padding: 0px 40px;
  position: relative;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  p {
    color: #d6d6d6;
    font-size: 19px;
    line-height: 32px;
    margin: 0;
  }
}
.ac-body-open {
  height: auto;
  padding: 35px 40px;
}

// Footer Start

footer {
  padding-top: 50px;
  height: 544px;
  background-image: url("/footer.png");
  background-position: bottom;
  background-size: cover;
  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-align: center;
  }
}

// Nav Responsive
.toggler {
  display: none;
}
@media screen and (max-width: 1100px) {
  .toggler {
    display: block;
    cursor: pointer;
  }
  nav {
    position: absolute;
    .menu {
      display: none;
      position: absolute;
      top: 45px;
      left: 12%;
      background-color: rgb(7, 4, 19, 0.64);
      backdrop-filter: blur(5px);
      flex-direction: column;
      border-radius: 5px;
      padding: 20px 30px 5px 30px;
      li {
        margin-right: 0px;
        margin-bottom: 15px;
        a {
          transition: 0.5s;
        }
        a:hover {
          color: #ff59f8;
        }
      }
    }
    .open-menu {
      display: block;
    }
  }
}
@media screen and (max-width: 500px) {
  nav {
    padding: 0px 2%;
    .menu {
      left: 2%;
    }
  }
}
// Banner Responsive
@media screen and (max-width: 1400px) {
  .banner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .banner {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 630px) {
  .banner {
    .logo {
      width: 100%;
      margin: -40px 0px;
    }
  }
}
@media screen and (max-width: 580px) {
  .banner {
    padding-top: 150px;
    .banner-box {
      margin-top: 0px;
      padding: 30px;
    }
  }
}
@media screen and (max-width: 480px) {
  .banner {
    .welcome {
      width: 100%;
    }
  }
}
//Feature Resonsive
@media screen and (max-width: 1300px) {
  .feature {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .feature {
    .mint-left {
      h2 {
        font-size: 40px;
      }
      .mint-desc {
        font-size: 18px;
      }
      .mint-input-box {
        p {
          font-size: 22px;
        }
        .mint-input {
          input,
          button {
            width: 150px;
            height: 52px;
          }
          button {
            font-size: 20px;
          }
        }
      }
    }
    .mint-right {
      img {
        width: 280px;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .feature {
    margin-top: 0px;
    padding-top: 0px;
  }
}
@media screen and (max-width: 900px) {
  .feature {
    .mint-box {
      height: auto;
      .mint-bg {
        display: none;
      }
      .mint-text {
        background-color: #12fed9;
        position: relative;
        border-radius: 50px;
        padding: 50px;
        &:after {
          content: "";
          position: absolute;
          height: 100px;
          width: 100%;
          background-color: #12fed9;
          top: -45px;
          left: 0;
          transform-origin: right;
          transform: skewY(-3deg);
          border-radius: 50px 50px 0px 0px;
          z-index: -1;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .feature {
    .mint-text {
      flex-direction: column;
      .mint-left {
        text-align: center;
        .mint-input-box {
          flex-direction: column;
          margin-top: 20px;

          p {
            margin-top: 30px;
          }
        }
      }
      .mint-right {
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .feature {
    .mint-box {
      .mint-text {
        padding: 10px;
      }
    }
    .mint-left {
      .mint-input-box {
        .mint-input {
          width: 100%;
          justify-content: center;
          input,
          button {
            margin: 0px 5px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .feature {
    .feature-box {
      align-items: center;
      padding: 125px 80px 125px 100px;
      height: 640px;
      .feature-left {
        img {
          height: 400px;
        }
      }
      .feature-right {
        padding-left: 30px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .feature {
    .feature-box {
      height: 550px;
      padding: 100px 40px 80px 55px;
      .feature-left {
        img {
          height: 340px;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .feature {
    .feature-box {
      height: auto;
      flex-direction: column;
      .feature-left {
        margin-top: 30px;
        img {
          height: 300px;
        }
      }
      .feature-right {
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .feature {
    .feature-box {
      padding: 30px 20px 40px 20px;
      .feature-bg-box {
        display: none;
      }
      .feature-sm-box {
        display: block;
      }
      .feature-left {
        margin-top: 20px;
        img {
          height: 200px;
        }
      }
      .feature-right {
        padding-left: 10px;
        margin-top: 30px;
        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .feature {
    padding-bottom: 80px;
    .nipple-box-wrapper {
      padding: 0px;
      .grid-container {
        grid-template-areas:
          "gifArea gifArea gifArea"
          "gifArea gifArea gifArea"
          ". . ."
          ". . ."
          ". . ."
          ". . ."
          ". . ."
          ". . .";
        .last-nipple-box {
          grid-area: gifArea;
        }
      }
    }
  }
}

// Roadmap Responsive
@media screen and (max-width: 1400px) {
  .roadmap-text {
    margin-bottom: 100px;
  }
  .roadmap-row {
    flex-direction: column;
    margin-top: 0px;
    img {
      display: none;
    }
    .rb-wrapper {
      width: 100%;
      margin-bottom: 30px;
    }
    .roadmap-circle {
      display: block;
      margin-right: 10px;
      height: 75px;
      width: 75px;
      border-radius: 50%;
      padding: 5px;
      float: left;
      position: absolute;
      z-index: 1;
      .phase {
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 9px;
        p {
          margin: 0;
          font-size: 12px;
          font-family: "Poppins", sans-serif;
          color: #190044;
          font-weight: 500;
        }
        span {
          font-family: "Poppins", sans-serif;
          color: #190044;
          font-weight: 500;
        }
      }
    }
    .rc1 {
      background-image: linear-gradient(to bottom right, #a759c6, #f71ce1);
    }
    .rc2 {
      background-image: linear-gradient(to bottom right, #2932ff, #68e4ff);
    }
    .rc3 {
      background-image: linear-gradient(to bottom right, #7a29ff, #f3c1ff);
    }
    .rc4 {
      background-image: linear-gradient(to bottom right, #ff2969, #ff2969);
    }
    .rc5 {
      background-image: linear-gradient(to bottom right, #944cdc, #16cabd);
    }
    .roadmap-box {
      position: relative;
      width: auto;
      background-color: rgba(24, 1, 52);
      margin-left: 95px;
    }
    .roadmap-box:after {
      content: "";
      position: absolute;
      height: 103%;
      width: 2px;
      left: -59px;
      top: 40px;
    }
    .rb1:after {
      background-image: linear-gradient(#b743d8, #77ccff);
    }
    .rb2:after {
      background-image: linear-gradient(#3342ed, #6d27f0);
    }
    .rb3:after {
      background-image: linear-gradient(#8f57e5, #f37920);
    }
    .rb4:after {
      background-image: linear-gradient(#f37920, #8f57e5);
    }
    .rb5:after {
      display: none;
    }
  }
  .roadmap-row-last {
    max-width: 100%;
    .rb-wrapper {
      margin: 0;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .roadmap {
    padding-bottom: 50px;
    background-image: none;
  }
  .roadmap-row {
    .roadmap-box {
      background-color: #1f1a44;
    }
  }
}
@media screen and (max-width: 600px) {
  .roadmap-row {
    padding: 0px 10px;
    .roadmap-box {
      padding: 25px;
      border-radius: 25px;
      h2 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 12px;
      }
      li {
        line-height: 32px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .roadmap-row {
    .roadmap-box {
      margin-left: 82px;
      padding: 15px;
      &:after {
        left: -46px;
      }
      h2 {
        font-size: 18px;
        line-height: 26px;
      }
      li {
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
}

// Team Responsive
@media screen and (max-width: 1000px) {
  .team {
    padding-top: 0px;
    background-image: none;
    .team-img {
      text-align: center;
    }
    .team-btn {
      margin-top: 35px;
      button {
        width: 150px;
        height: 52px;
        font-size: 20px;
      }
    }
  }
}
// FAQ Responsive
@media screen and (max-width: 1437px) {
  .accordion {
    padding: 0px 10px 20px 10px;
  }
}
@media screen and (max-width: 800px) {
  .accordion {
    margin-top: 35px;
  }
  .faq {
    background-color: none;
    background-image: url("/faq-sm-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    .heading {
      margin-bottom: 0;
      font-size: 26px;
    }
    .line {
      display: none;
    }
  }
  .ac-head {
    border-radius: 15px;
    h2 {
      font-size: 18px;
      padding-right: 10px;
    }
  }
  .ac-body {
    border-radius: 15px;
    padding: 0px 15px;
    p {
      font-size: 17px;
      line-height: 28px;
    }
  }
  .ac-body-open {
    padding: 15px 15px;
  }
}

// Footer Responsive
@media screen and (max-width: 800px) {
  footer {
    height: 320px;
  }
}

// Small Blocks
.feature-block-img {
  position: absolute;
  top: -50%;
  left: -150px;
}
.faq-block-img {
  position: absolute;
  top: -35%;
  left: -180px;
}
.faq-right-mask {
  position: absolute;
  top: 0;
  right: 0;
}
.feature {
  position: relative;
}
.feature-right-mask {
  position: absolute;
  top: 1100px;
  right: 0px;
}
.feature-left-mask {
  position: absolute;
  top: 1700px;
  left: 0px;
}
@media screen and (max-width: 1200px) {
  .feature-block-img {
    display: none;
  }
  .faq-block-img {
    display: none;
  }
  .faq-right-mask {
    display: none;
  }
  .feature-right-mask {
    display: none;
  }
  .feature-left-mask {
    display: none;
  }
}
